html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
    position: relative;
    height: 100%;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}

h1 {
    color:#4aaaa5;
}

/*
==========
body
==========
*/

body {
    background: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/felt.png");
    margin-left: 200px;
}

/*
==========
header
==========
*/

header {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#line {
    width: 960px;
    height: 3px;
    background: #777777;
    margin-left: -100px;
}

.name {
    text-align: center;
    background: #4aaaa5;
    font-size: 30px;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    border: 20px ;
    border-color: #cccccc;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -80px;
}

.links {
    text-align: center;
    font-size: 15px;
    width: 300px;
    position: relative;
    left: 600px;
    bottom: 45px;
    margin-left: -50px;
}

.space a {
    margin: 10px;
    color: #777777;
}

/*
==========
index section
==========
*/

.section {
    text-align: center;
    color: #4aaaa5;
    font-size: 20px;
    width: 200px;
    margin-top: 50px;
    margin-left: -10px;
}

.line-2 {
    width: 900px;
    height: 3px;
    background: #4aaaa5;
    margin-left: -55px;
}

.line-3 {
    width: 900px;
    height: 3px;
    background: #777777;
    margin-left: -55px;
}

.img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: -70px;
}

.text {
    text-align: justify;
    color: black;
    font-size: 20px;
    width: 600px;
    height: 400px;
    margin: -320px 250px;
    margin-left: 260px;
}

/*
==========
footer
==========
*/

.footer {
    background: #666666;
    width: 960px;
    height: 70px;
    border-top: 5px solid #4aaaa5;
    margin-left: -100px;   
    margin-bottom: -200px;
}

.copyright {
    margin-left: 550px;
}

/*
==========
Portfolio
==========
*/
* {
    box-sizing: border-box;
}
.column {
    float: left;
    padding: 0;
}

.row {
    display: flex;
}

.pics {
    padding: 10px;
    margin-top: 15px;
    margin-left:15px;
    width: 300px;
    height: 200px;
}

.snow {
    background: #4aaaa5;
    color: white;
    width: 280px;
    padding: 10px;
    position: absolute;
    top: 360px;
    left: 15px;   
}

.lake {
    background: #4aaaa5;
    color: white;
    width: 280px;
    padding: 10px;
    position: absolute;
    top: 360px;
    right: 266px;   
}

.ocean {
    background: #4aaaa5;
    color: white;
    width: 280px;
    padding: 10px;
    position: absolute;
    bottom: 310px;
    left: 15px;     
}

.field {
    background: #4aaaa5;
    color: white;
    width: 280px;
    padding: 10px;
    position: absolute;
    bottom: 310px;
    right: 266px;   
}

.mountain {
    background: #4aaaa5;
    color: white;
    width: 280px;
    padding: 10px;
    position: absolute;
    bottom: 90px;
    left: 15px;   
}


